button.btn.btn-primary.btn-begin.btn-sm {
    background-color: #033660;
}
@import url('https://webfonts.brand.ucsb.edu/webfont.min.css');

/*** OVERRIDES ***/
.page-container  {
  padding-top: unset;
}
li.nav-item {
    list-style: none;
    line-height: 36px;
}

body{
     padding: 0px;
     font-family: "Nunito Sans", sans-serif;
}

a, h1, h2 {
 color: #003660;
 text-decoration: 0px;
}
.btn-info{
background-color:#09847A;
border-color:#09847A;
}
.nav-pills>li.active>button,.nav-pills>li.active>button:focus,.nav-pills>li.active>button:hover {
    background-color: #003360;
    color: #fff
}
.nav {
    display: block;
}

.alert-info {
    color: #055160;
    background-color: #d9edf7;
    border-color: #b6effb
}

/*** CUSTOM ***/
 .eyebrow {
     background-color: #033660;
     color: #fff;
     position: relative;
     width: 100%;
     font-family: "Nunito Sans", sans-serif;
     font-weight: 300;
     font-size: 12px;
     letter-spacing: 0.7pt;
     /***padding-left:40px;***/
     -webkit-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
}
 .eyebrow a.edu-link{
     display:none;
}
 .eyebrow-menu{
     display: flex;
     justify-content: flex-end;
     align-items:center;
     height:100px;
}

 .navbar-toggle span {
     height: 3px;
     width: 25px;
     background-color: #fff;
     margin: 5px 0;
     display: block;
}
 .close-icon {
     display:none;
     flex-direction: column;
     cursor: pointer;
     color: #fff;
     font-size: 28px;
}
 .navbar-nav{
     display:none;
}
 ul.navbar-nav.show {
     position: absolute;
     left: 0px;
     top: 100px;
     background: #edeff1;
     z-index: 9998;
     width: 100%;
     color: #003360;
     padding-left: 50px;
}
 .navbar-nav a {
     color: #003360;
}
a:not(.option-link,.menu-button,.libapps-link,.springy-button):hover {
    color: #fff !important;
    text-decoration: underline;
}
 svg#Template {
     fill: #fff;
     height: 60px;
     background-color: transparent;
}
 .woodmark {
     background-color: transparent;
     position: absolute;
     top: 0;
     z-index: 9999;
}
 @media (min-width: 768px) {

     .s-lib-public-body, body{
         margin-top: 0px;
    }
     .eyebrow{
         height:36px;
         -webkit-transition: all 0.2s ease-in-out;
         transition: all 0.2s ease-in-out;
    }
     .eyebrow-menu {
         display:flex;
         flex-direction: row;
         height:inherit;
         -webkit-transition: all 0.2s ease-in-out;
         transition: all 0.2s ease-in-out;
    }
     .navbar-toggle {
         display: none;
         flex-direction: column;
         cursor: pointer;
    }
     .close-icon {
         display: none;
    }
     .eyebrow a.edu-link {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         color: #fff;
         font-size:12px;
         letter-spacing: .5pt;
         margin-right:auto;
    }
     .navbar-nav {
         display: flex;
         flex-direction: row;
         justify-content:flex-end;
         align-items: center;
         margin-right: 5px;
         margin-left:auto;
        margin-top: 0;
        margin-bottom: 0;
    }
     .navbar-nav a {
         color: #fff;
    }
    .navbar-nav li:not(:last-child) a.nav-link:after, #footer-bottom > div > div > nav > ul > li:not(:last-child) a:after {
        background-color: rgba(255,255,255,.13);
        content: " ";
        display: inline-block;
        height: 20px;
        /* position: relative; */
        /* left: auto; */
        right: 0;
        top: 5px;
        width: 1px;
        margin: -5px 20px;

    }

     .woodmark{
         position: relative;
         background-color: #edeff1;
         width: 100%;
         padding-top: 10px;
         height: auto;
         min-height: 160px;
         margin-bottom:50px;
    }
     .woodmark svg#Template {
         fill: #003360;
         height: 60px;
         margin: 36px 0 25px 0;
    }
    #footer svg {
        height: 1.5em !important;
    }
}



/*** FOOTER Styles***/
#footer, #footer-bottom {
    margin: auto 0 0;
    padding: 0 15px;
    color: #FFFFFF;
    background: #003660;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
}
#footer > div > div {
    display: flex;
    flex-direction: column-reverse;    
    padding: 2.25rem 0;
    grid: auto-flow/repeat(auto-fit, minmax(15.625rem, 1fr));
    gap: 0 1.875rem;
}

#footer > div h6 {
    margin: 1.45rem 0 1rem;
    border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
    padding-bottom: .375rem;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: calc(1em / 12);

}
#footer svg {
    display: block;
    margin: auto;
    height: 1.875rem;
    width: auto;
    color: #fff;
    fill: #ffffff;
    stroke: transparent;
}
#footer > div nav {
    display: grid;
    grid: auto auto / auto-flow;
}
#footer > div nav ul {
    display: grid;
    grid-row: 2 / span 1;
    padding: 0;
}
#footer > div nav ul.social {
    grid: auto-flow/repeat(auto-fit, minmax(7.625rem, 1fr));
    gap: 0 .375em;
}
#footer > div nav ul > li {
    display: block;
}
#footer > div nav ul.social > li > a, #footer a {
    display: grid;
    grid: auto-flow / max-content auto;
    gap: 0 .375em;
    color: #fff;
}
address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}
.hide {
    display: none !important
}

.show {
    display: block !important
}
/***COPYRIGHT****/
#footer-bottom {
    background-color: #002b4c;
    color: #fff;
    font-size: 12px;
    margin: 0;
    padding: 16px 0 48px 0;
    width: 100%;
}

#footer-bottom > div > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: .375rem 1rem;
}
#footer-bottom div div {
    display: inline-block;
    margin-right: 16px;
    color:  #fff !important;
}
#footer-bottom > div > div {
    display: flex;
    flex: auto;
    flex-flow: row wrap;
    width: -moz-max-content;
    width: auto;
    max-width: 100%;
    gap: .375rem 1rem;
   justify-content: space-around;

}
#footer-bottom > div > div > nav {
    display: flex;
    flex-flow: row wrap;
    gap: 0 1rem;
}
#footer-bottom > div > div > nav > ul {
    display: contents;
    list-style: none;
}
#footer-bottom > div > nav > nav > ul > li {
    display: block;
}
#footer-bottom a[href] {
    color: inherit;
}
 @media (min-width: 768px) {
     #footer > div > div {
       display: grid;
       flex-direction: unset;
     }
}
 