<div class="eyebrow" role="navigation" aria-label="Top navigation">
  <div class="container eyebrow-menu pl-0">
    <a
      class="edu-link"
      title="University of California, Santa Barbara"
      href="https://www.ucsb.edu/"
      >University of California, Santa Barbara</a
    >

    <div class="navbar-toggle" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="close-icon" id="closeIcon" onclick="toggleMenu()">X</div>

    <ul class="navbar-nav">
      <li class="nav-item mx-2">
        <a class="nav-link" href="https://www.library.ucsb.edu/">Library Homepage</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="https://www.library.ucsb.edu/hours">Hours</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="https://www.library.ucsb.edu/give">Giving</a>
      </li>
    </ul>
  </div>
</div>
<div class="woodmark ml-sm-5 ml-md-0 mt-sm-3 mt-md-0">
  <div class="container" role="banner">
    <a
      class="logo navbar-btn pull-left pl-0 ml-md-0"
      href="https://www.library.ucsb.edu"
      title="Home"
      rel="home"
    >
      <svg
        version="1.1"
        id="Template"
        class="logo py-0"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 292.23 81.01"
        style="enable-background: new 0 0 292.23 81.01"
        xml:space="preserve"
      >
        <g>
          <g>
            <path
              class="st0"
              d="M0.38,70.28h3.78V45.96H0.38v-2.86h11.55v2.86H7.82v24.2h11.34v-5.25h3.4v8.23H0.38V70.28z"
            />
            <path
              class="st0"
              d="M24.95,73.14v-2.73h3.07V54.03h-3.15v-2.86h6.64v19.24h3.15v2.73H24.95z M27.18,44.24
      c0-1.34,1.09-2.35,2.39-2.35s2.39,1.01,2.39,2.35c0,1.35-1.09,2.39-2.39,2.39S27.18,45.58,27.18,44.24z"
            />
            <path
              class="st0"
              d="M42.97,69.44v3.7h-6.55v-2.73h3.07V43.53h-3.15v-2.86h6.64v14.37c1.26-2.35,4.24-4.24,7.43-4.24
      c5.75,0,10,4.2,10,11.05v0.34c0,6.72-3.95,11.34-10,11.34C46.83,73.52,44.23,71.71,42.97,69.44z M56.79,62.34v-0.34
      c0-5.54-3.07-8.32-6.76-8.32c-4.07,0-7.18,2.69-7.18,8.32v0.34c0,5.59,2.94,8.28,7.23,8.28C54.44,70.62,56.79,67.68,56.79,62.34z"
            />
            <path
              class="st0"
              d="M62.92,73.14v-2.73h3.07V54.03h-3.15v-2.86h6.64v4.2c1.05-2.31,3.28-4.54,7.9-4.58v3.44
      c-4.79-0.04-7.9,1.47-7.9,6.85v9.33h3.36v2.73H62.92z"
            />
            <path
              class="st0"
              d="M86.27,73.52c-3.99,0-7.14-1.97-7.14-6.47c0-5.13,5.29-6.8,10.84-6.8h3.07v-1.6c0-3.7-1.47-4.96-4.62-4.96
      c-2.94,0-4.54,1.09-4.87,3.95h-3.49c0.42-5.17,4.37-6.85,8.53-6.85c4.12,0,7.94,1.51,7.94,7.86v11.76h2.94v2.73h-6.43v-3.03
      C91.56,72.39,89.42,73.52,86.27,73.52z M93.03,65.45v-2.73h-2.94c-4.33,0-7.48,1.13-7.48,4.33c0,1.97,1.01,3.7,3.99,3.7
      C90.22,70.75,93.03,68.86,93.03,65.45z"
            />
            <path
              class="st0"
              d="M101.31,73.14v-2.73h3.07V54.03h-3.15v-2.86h6.64v4.2c1.05-2.31,3.28-4.54,7.9-4.58v3.44
      c-4.79-0.04-7.9,1.47-7.9,6.85v9.33h3.36v2.73H101.31z"
            />
            <path
              class="st0"
              d="M137.97,54.03l-11.05,26.76h-5.59v-2.73h3.36l3.02-7.18l-7.35-16.84h-2.77v-2.86h9.66v2.86h-3.19l5.5,12.9
      l5-12.9h-3.32v-2.86h9.41v2.86H137.97z"
            />
          </g>
          <g>
            <path
              class="st0"
              d="M238.82,1.16h3.64l8.69,19.97h-4.96l-1.72-4.23h-7.76l-1.66,4.23h-4.85L238.82,1.16z M240.51,6.97l-2.43,6.2
      h4.88L240.51,6.97z"
            />
            <path
              class="st0"
              d="M213.46,1.16h7.45c0.86,0,1.73,0.06,2.61,0.18c0.87,0.12,1.66,0.37,2.35,0.73c0.7,0.37,1.26,0.88,1.69,1.54
      c0.43,0.66,0.65,1.53,0.65,2.62c0,1.13-0.32,2.06-0.94,2.81c-0.63,0.74-1.46,1.27-2.5,1.59v0.06c0.66,0.09,1.26,0.28,1.79,0.55
      c0.54,0.27,1,0.62,1.38,1.04c0.39,0.42,0.68,0.92,0.89,1.48c0.21,0.56,0.31,1.17,0.31,1.81c0,1.05-0.23,1.93-0.68,2.64
      c-0.45,0.7-1.03,1.27-1.75,1.71s-1.52,0.74-2.41,0.93c-0.89,0.19-1.78,0.28-2.67,0.28h-8.18V1.16z M217.86,9.14h3.19
      c0.34,0,0.67-0.04,1-0.11c0.33-0.07,0.62-0.2,0.89-0.37c0.26-0.17,0.47-0.39,0.63-0.68c0.16-0.28,0.24-0.62,0.24-1.02
      c0-0.41-0.09-0.76-0.27-1.03c-0.18-0.27-0.41-0.48-0.69-0.63c-0.28-0.15-0.6-0.26-0.96-0.32c-0.36-0.07-0.71-0.1-1.04-0.1h-2.99
      V9.14z M217.86,17.41h3.95c0.34,0,0.68-0.04,1.03-0.11c0.35-0.07,0.66-0.21,0.95-0.39c0.28-0.19,0.51-0.43,0.69-0.73
      c0.18-0.3,0.27-0.67,0.27-1.1c0-0.47-0.12-0.85-0.35-1.14c-0.24-0.29-0.53-0.51-0.89-0.66c-0.36-0.15-0.74-0.25-1.16-0.31
      c-0.41-0.06-0.8-0.08-1.16-0.08h-3.33V17.41z"
            />
            <path
              class="st0"
              d="M253.24,1.16h7.73c1.02,0,1.98,0.1,2.89,0.3c0.91,0.2,1.71,0.53,2.4,0.99c0.69,0.46,1.23,1.08,1.64,1.86
      c0.4,0.78,0.61,1.75,0.61,2.92c0,1.41-0.37,2.61-1.1,3.6c-0.73,0.99-1.8,1.61-3.22,1.88l5.08,8.43h-5.27l-4.17-7.98h-2.17v7.98
      h-4.4V1.16z M257.64,9.43h2.59c0.39,0,0.81-0.01,1.26-0.04c0.44-0.03,0.84-0.11,1.2-0.25c0.36-0.14,0.65-0.36,0.89-0.66
      c0.23-0.3,0.35-0.72,0.35-1.27c0-0.51-0.1-0.91-0.31-1.21c-0.21-0.3-0.47-0.53-0.79-0.69c-0.32-0.16-0.69-0.27-1.1-0.32
      c-0.41-0.06-0.82-0.08-1.21-0.08h-2.88V9.43z"
            />
            <path
              class="st0"
              d="M179.39,1.16h3.64l8.69,19.97h-4.96l-1.72-4.23h-7.76l-1.66,4.23h-4.85L179.39,1.16z M181.08,6.97l-2.43,6.2
      h4.88L181.08,6.97z"
            />
            <path
              class="st0"
              d="M279.49,1.16h3.64l8.69,19.97h-4.96l-1.72-4.23h-7.76l-1.66,4.23h-4.85L279.49,1.16z M281.18,6.97l-2.43,6.2
      h4.88L281.18,6.97z"
            />
            <path
              class="st0"
              d="M154.04,1.16h7.45c0.86,0,1.73,0.06,2.61,0.18c0.87,0.12,1.66,0.37,2.35,0.73c0.7,0.37,1.26,0.88,1.69,1.54
      c0.43,0.66,0.65,1.53,0.65,2.62c0,1.13-0.32,2.06-0.94,2.81c-0.63,0.74-1.46,1.27-2.5,1.59v0.06c0.66,0.09,1.25,0.28,1.79,0.55
      c0.54,0.27,1,0.62,1.38,1.04c0.39,0.42,0.68,0.92,0.89,1.48c0.21,0.56,0.31,1.17,0.31,1.81c0,1.05-0.23,1.93-0.68,2.64
      c-0.45,0.7-1.03,1.27-1.75,1.71c-0.71,0.43-1.52,0.74-2.41,0.93c-0.89,0.19-1.78,0.28-2.67,0.28h-8.18V1.16z M158.44,9.14h3.19
      c0.34,0,0.67-0.04,1-0.11c0.33-0.07,0.62-0.2,0.89-0.37c0.26-0.17,0.47-0.39,0.63-0.68c0.16-0.28,0.24-0.62,0.24-1.02
      c0-0.41-0.09-0.76-0.27-1.03c-0.18-0.27-0.41-0.48-0.69-0.63c-0.28-0.15-0.6-0.26-0.96-0.32c-0.36-0.07-0.71-0.1-1.04-0.1h-2.99
      V9.14z M158.44,17.4h3.95c0.34,0,0.68-0.04,1.03-0.11c0.35-0.07,0.66-0.21,0.94-0.39s0.51-0.43,0.69-0.73
      c0.18-0.3,0.27-0.67,0.27-1.1c0-0.47-0.12-0.85-0.35-1.14c-0.24-0.29-0.53-0.51-0.89-0.66c-0.36-0.15-0.74-0.25-1.16-0.31
      c-0.41-0.06-0.8-0.08-1.16-0.08h-3.33V17.4z"
            />
            <path
              class="st0"
              d="M193.81,1.16h7.73c1.02,0,1.98,0.1,2.89,0.3c0.91,0.2,1.71,0.53,2.4,0.99c0.69,0.46,1.23,1.08,1.64,1.86
      c0.4,0.78,0.61,1.75,0.61,2.92c0,1.41-0.37,2.61-1.1,3.6c-0.73,0.99-1.8,1.61-3.22,1.88l5.08,8.43h-5.27l-4.17-7.98h-2.17v7.98
      h-4.4V1.16z M198.21,9.42h2.59c0.4,0,0.81-0.01,1.26-0.04c0.44-0.03,0.84-0.11,1.2-0.25c0.36-0.14,0.65-0.36,0.89-0.66
      c0.24-0.3,0.35-0.72,0.35-1.27c0-0.51-0.1-0.91-0.31-1.21c-0.21-0.3-0.47-0.53-0.79-0.69c-0.32-0.16-0.69-0.27-1.1-0.32
      c-0.41-0.06-0.82-0.08-1.21-0.08h-2.88V9.42z"
            />
            <path
              class="st0"
              d="M74.04,1.16h3.64l8.69,19.97H81.4l-1.72-4.23h-7.76l-1.66,4.23h-4.85L74.04,1.16z M75.73,6.97l-2.43,6.2h4.88
      L75.73,6.97z"
            />
            <path
              class="st0"
              d="M133.31,1.16h3.64l8.69,19.97h-4.96l-1.72-4.23h-7.76l-1.66,4.23h-4.85L133.31,1.16z M135.01,6.97l-2.43,6.2
      h4.88L135.01,6.97z"
            />
            <path
              class="st0"
              d="M88.8,1.16h5.98l8.49,13.88h0.06V1.16h4.4v19.97h-5.75L93.26,6.91H93.2v14.21h-4.4V1.16z"
            />
            <path
              class="st0"
              d="M116.31,5.05h-5.51V1.16h15.79v3.89h-5.88v16.08h-4.4V5.05z"
            />
            <path
              class="st0"
              d="M10.16,21.44c-4.64,0-7.27-2.71-7.27-7.64L2.9,3.09H0.63V1.16H7.9v1.92H5.36L5.35,13.52
      c0,4.24,1.5,5.88,4.86,5.88c3.22,0,5.15-1.3,5.15-6.25l0.01-10.07h-2.55V1.16h7.27v1.92h-2.26L17.82,13.5
      C17.82,18.42,15.36,21.44,10.16,21.44z"
            />
            <path
              class="st0"
              d="M37.6,14.49c-0.51,3.28-2.8,4.95-6.11,4.95c-4.35,0-6.96-3.11-6.96-8.26v-0.23c0-5.09,2.8-8.34,6.98-8.34
      c3.08,0,5.18,1.3,6,4.67h2.06l0-6.11h-2.21l0,2.21c-1.05-1.87-3.25-2.71-5.8-2.71c-5.57,0-9.59,4.33-9.59,10.32v0.23
      c0,6.22,3.59,10.24,9.45,10.24c4.45,0,7.63-2.22,8.41-6.72L37.6,14.49z"
            />
            <path
              class="st0"
              d="M64.23,14.99c0,3.8-3.22,6.46-7.82,6.46c-3.69,0-6.33-1.24-7.87-3.69l3.02-2.58c0.49,0.7,2.17,2.72,5.22,2.72
      c1.91,0,3.09-0.83,3.09-2.16c0-1.69-1.1-2.06-3.88-2.84c-3.29-0.92-6.63-2.34-6.63-5.99c0-3.67,3.1-6.24,7.54-6.24
      c1.78,0,5.03,0.42,6.81,3.19l-2.8,2.44c-1.06-1.4-2.54-2.08-4.5-2.08c-1.97,0-2.69,1.37-2.69,2.29c0,1.46,1.94,2.09,4.29,2.72
      C61.01,10,64.23,11.16,64.23,14.99z"
            />
          </g>
        </g>
      </svg>
    </a>
  </div>
</div>