<!-- SIDE NAV -->
<style>
 
    /*Font style for all text*/
    
    body {font-size: 14px;}
    
     /*increases font size on box title*/
    
    .s-lib-box .s-lib-box-title {font-size: 14px;}
    
    
    
    /*this changes the Email Me button formatting in the profile box*/
    
     .s-lib-profile-email a {
    
        font-size: 20px;
    
    }
    
    .label-info {
    
        background-color: #00468b;
    
    }
    
    .label-info:hover {
    
        background-color: #ccc;
    
    }
    .LibCalMySched {
      background: #00468b;
      border: 1px solid #00468b
      border-radius: 4px;
      color: #00468b;
      font: 20px Arial, Helvetica, Verdana;
     font-weight: 700; 
      padding: 4px 12px;
      cursor: pointer;
    }
    #mysched:hover, #mysched:active, #mysched:focus {
      opacity: 0.9;
    }
    </style>
    <body class="s-lg-guide-body">
    {{skip_link}}
    {{obsolete_browser_alert}}
    {{ADMIN_CMD_BAR}}
    <!-- BEGIN: Page Header -->
    {{public_header}}
    <!-- END: Page Header -->
    <!-- BEGIN: Guide Header -->
    <div id="s-lg-guide-header" class="container s-lib-header s-lib-side-borders">
        <nav id="s-lib-bc" aria-label="breadcrumb">
            {{breadcrumbs}}
        </nav>
        <div class="pull-right">
            <div id="s-lg-guide-header-search">
                {{guide_search}}        </div>
            {{ADMIN_MINI_CMD_BAR}}
        </div>
        <div id="s-lg-guide-header-info">
            <h1 id="s-lg-guide-name">{{guide_title}}: {{page_title}}</h1>
            <div id="s-lg-guide-desc-container">
                <span id="s-lg-guide-description">{{guide_description}}</span>
            </div>
        </div>
    </div>
    <!-- END: Guide Header -->
    <div id="s-lg-guide-tabs-title-bar" class="container s-lib-side-borders"></div>
    <div id="s-lg-side-nav-content" class="container s-lib-side-borders pad-top-med">
        <div class="row">
            <div class="col-md-3 s-lg-tabs-side pad-bottom-med">
                <div id="s-lg-tabs-container">
                    <div id="s-lg-guide-tabs" role="navigation" aria-label="Guide Pages">
                        <ul class="nav nav-pills nav-stacked split-button-nav">
                            {{guide_nav}}
                        </ul>
                        {{side_nav_boxes}}
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="s-lg-tab-content">
                    <div id="s-lg-guide-main" class="tab-pane active" tabindex="-1">
                        {{content}}
                    </div>
                </div>
                {{page_prev_next_links}}
            </div>
        </div>
    </div>
    <!-- BEGIN: Page Footer -->
    <div id="s-lib-footer-public"
         class="s-lib-footer footer container s-lib-side-borders">
        <div id="s-lg-guide-header-meta" class="pad-top-sm pad-left-med clearfix">
            <ul id="s-lg-guide-header-attributes" class="">
                <li id="s-lg-guide-header-updated" class="s-lg-h-separator">
                    {{last_updated_display}}            </li>
                <li id="s-lg-guide-header-url" class="s-lg-h-separator">
                    {{guide_url_display}}
                </li>
                <li id="s-lg-guide-print-url">
                    {{print_url_display}}
                </li>
            </ul>
            <div id="s-lib-footer-login-link" class="pull-right pad-right-med">
                {{login_url_display}}        </div>
        </div>
        <div class="pad-bottom-sm clearfix">
            <div id="s-lib-footer-support-link" class="pull-right pad-right-med">
                <a href="mailto:webmaster@library.ucsb.edu">Report a problem</a>        </div>
            <div id="s-lg-guide-header-subjects" class="pad-top-sm pad-left-med pad-right-med pull-left">
                {{guide_subjects}}
            </div>
            <div id="s-lg-guide-header-tags" class="pad-top-sm pad-left-med">
                {{guide_tags}}
            </div>
        </div>
    </div>
    <!-- END: Page Footer -->
    <!-- scroll_top.twig -->
    <div id="s-lib-scroll-top">
        <a href="javascript:void(0);" onclick="jQuery('body').focus();" title="Back to Top"
           aria-label="Back to Top">
            <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-angle-double-up fa-stack-1x" style="position:relative; bottom:2px;"></i>
            </span>
        </a>
    </div>
    <!-- !scroll_top.twig -->
    <div id="s-lib-alert" title=""><div id="s-lib-alert-content"></div></div>
    <div id="guide-login">{{login_url_display}}</div>
                    <!-- BEGIN: Custom Footer -->
                    {{public_footer}}
            <!-- END: Custom Footer -->
            <script>
                const guideLoginLink = document.querySelector('#guide-login a');
                
                if (guideLoginLink) {
                
                    const newHref = guideLoginLink.getAttribute('href');
                
                    const footerLinks = document.querySelectorAll('#footer-bottom nav ul li a');
                    footerLinks.forEach(link => {
                        if (link.textContent === 'Login to LibApps') {
                            link.setAttribute('href', newHref);
                        }
                    });
                
                    guideLoginLink.style.display = 'none';
                } else {
                    console.error('Guide login link not found.');
                }
                
                </script>
                </body>