<footer id="footer">
  <div  class="container">
  <div>
    <div>
      <section>
        <h6>
          <a href="https://www.ucsb.edu/">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 294 22.5" preserveAspectRatio="xMinYMin">
              <desc>UC Santa Barbara</desc>
              <path d="M239.5,1.4h3.6l8.7,20h-5l-1.7-4.2h-7.8l-1.7,4.2h-4.9L239.5,1.4z M241.2,7.2l-2.4,6.2h4.9L241.2,7.2zM214.2,1.4h7.4c0.9,0,1.7,0.1,2.6,0.2c0.9,0.1,1.7,0.4,2.4,0.7c0.7,0.4,1.3,0.9,1.7,1.5c0.4,0.7,0.6,1.5,0.6,2.6c0,1.1-0.3,2.1-0.9,2.8c-0.6,0.7-1.5,1.3-2.5,1.6v0.1c0.7,0.1,1.3,0.3,1.8,0.5c0.5,0.3,1,0.6,1.4,1c0.4,0.4,0.7,0.9,0.9,1.5c0.2,0.6,0.3,1.2,0.3,1.8c0,1.1-0.2,1.9-0.7,2.6c-0.5,0.7-1,1.3-1.7,1.7c-0.7,0.4-1.5,0.7-2.4,0.9c-0.9,0.2-1.8,0.3-2.7,0.3h-8.2V1.4z M218.6,9.4h3.2c0.3,0,0.7,0,1-0.1c0.3-0.1,0.6-0.2,0.9-0.4c0.3-0.2,0.5-0.4,0.6-0.7c0.2-0.3,0.2-0.6,0.2-1c0-0.4-0.1-0.8-0.3-1c-0.2-0.3-0.4-0.5-0.7-0.6c-0.3-0.2-0.6-0.3-1-0.3c-0.4-0.1-0.7-0.1-1-0.1h-3V9.4z M218.6,17.6h3.9c0.3,0,0.7,0,1-0.1c0.3-0.1,0.7-0.2,0.9-0.4c0.3-0.2,0.5-0.4,0.7-0.7c0.2-0.3,0.3-0.7,0.3-1.1c0-0.5-0.1-0.9-0.4-1.1c-0.2-0.3-0.5-0.5-0.9-0.7c-0.4-0.2-0.7-0.3-1.2-0.3c-0.4-0.1-0.8-0.1-1.2-0.1h-3.3V17.6z M253.9,1.4h7.7c1,0,2,0.1,2.9,0.3c0.9,0.2,1.7,0.5,2.4,1c0.7,0.5,1.2,1.1,1.6,1.9c0.4,0.8,0.6,1.8,0.6,2.9c0,1.4-0.4,2.6-1.1,3.6c-0.7,1-1.8,1.6-3.2,1.9l5.1,8.4h-5.3l-4.2-8h-2.2v8h-4.4V1.4z M258.3,9.7h2.6c0.4,0,0.8,0,1.3,0c0.4,0,0.8-0.1,1.2-0.3c0.4-0.1,0.7-0.4,0.9-0.7c0.2-0.3,0.4-0.7,0.4-1.3c0-0.5-0.1-0.9-0.3-1.2c-0.2-0.3-0.5-0.5-0.8-0.7c-0.3-0.2-0.7-0.3-1.1-0.3c-0.4-0.1-0.8-0.1-1.2-0.1h-2.9V9.7z M180.1,1.4h3.6l8.7,20h-5l-1.7-4.2H178l-1.7,4.2h-4.9L180.1,1.4z M181.8,7.2l-2.4,6.2h4.9L181.8,7.2z M280.2,1.4h3.6l8.7,20h-5l-1.7-4.2h-7.8l-1.7,4.2h-4.9L280.2,1.4z M281.9,7.2l-2.4,6.2h4.9L281.9,7.2z M154.7,1.4h7.4c0.9,0,1.7,0.1,2.6,0.2c0.9,0.1,1.7,0.4,2.4,0.7c0.7,0.4,1.3,0.9,1.7,1.5c0.4,0.7,0.6,1.5,0.6,2.6c0,1.1-0.3,2.1-0.9,2.8c-0.6,0.7-1.5,1.3-2.5,1.6v0.1c0.7,0.1,1.3,0.3,1.8,0.5c0.5,0.3,1,0.6,1.4,1c0.4,0.4,0.7,0.9,0.9,1.5c0.2,0.6,0.3,1.2,0.3,1.8c0,1.1-0.2,1.9-0.7,2.6c-0.5,0.7-1,1.3-1.7,1.7c-0.7,0.4-1.5,0.7-2.4,0.9c-0.9,0.2-1.8,0.3-2.7,0.3h-8.2V1.4z M159.1,9.4h3.2c0.3,0,0.7,0,1-0.1c0.3-0.1,0.6-0.2,0.9-0.4c0.3-0.2,0.5-0.4,0.6-0.7c0.2-0.3,0.2-0.6,0.2-1c0-0.4-0.1-0.8-0.3-1c-0.2-0.3-0.4-0.5-0.7-0.6c-0.3-0.2-0.6-0.3-1-0.3c-0.4-0.1-0.7-0.1-1-0.1h-3V9.4z M159.1,17.6h3.9c0.3,0,0.7,0,1-0.1c0.3-0.1,0.7-0.2,0.9-0.4c0.3-0.2,0.5-0.4,0.7-0.7c0.2-0.3,0.3-0.7,0.3-1.1c0-0.5-0.1-0.9-0.4-1.1c-0.2-0.3-0.5-0.5-0.9-0.7c-0.4-0.2-0.7-0.3-1.2-0.3c-0.4-0.1-0.8-0.1-1.2-0.1h-3.3V17.6z M194.5,1.4h7.7c1,0,2,0.1,2.9,0.3c0.9,0.2,1.7,0.5,2.4,1c0.7,0.5,1.2,1.1,1.6,1.9c0.4,0.8,0.6,1.8,0.6,2.9c0,1.4-0.4,2.6-1.1,3.6c-0.7,1-1.8,1.6-3.2,1.9l5.1,8.4h-5.3l-4.2-8h-2.2v8h-4.4V1.4z M198.9,9.7h2.6c0.4,0,0.8,0,1.3,0c0.4,0,0.8-0.1,1.2-0.3c0.4-0.1,0.7-0.4,0.9-0.7c0.2-0.3,0.4-0.7,0.4-1.3c0-0.5-0.1-0.9-0.3-1.2c-0.2-0.3-0.5-0.5-0.8-0.7c-0.3-0.2-0.7-0.3-1.1-0.3c-0.4-0.1-0.8-0.1-1.2-0.1h-2.9V9.7z M74.7,1.4h3.6l8.7,20h-5l-1.7-4.2h-7.8L71,21.4h-4.9L74.7,1.4z M76.4,7.2L74,13.4h4.9L76.4,7.2z M134,1.4h3.6l8.7,20h-5l-1.7-4.2h-7.8l-1.7,4.2h-4.9L134,1.4z M135.7,7.2l-2.4,6.2h4.9L135.7,7.2z M89.5,1.4h6l8.5,13.9h0.1V1.4h4.4v20h-5.8L94,7.1h-0.1v14.2h-4.4V1.4z M117,5.3h-5.5V1.4h15.8v3.9h-5.9v16.1H117V5.3z M10.9,21.7c-4.6,0-7.3-2.7-7.3-7.6l0-10.7H1.3V1.4h7.3v1.9H6.1l0,10.4c0,4.2,1.5,5.9,4.9,5.9c3.2,0,5.1-1.3,5.1-6.2l0-10.1h-2.5V1.4h7.3v1.9h-2.3l0,10.4C18.5,18.7,16.1,21.7,10.9,21.7z M38.3,14.7c-0.5,3.3-2.8,4.9-6.1,4.9c-4.4,0-7-3.1-7-8.3v-0.2c0-5.1,2.8-8.3,7-8.3c3.1,0,5.2,1.3,6,4.7h2.1l0-6.1h-2.2l0,2.2c-1-1.9-3.3-2.7-5.8-2.7c-5.6,0-9.6,4.3-9.6,10.3v0.2c0,6.2,3.6,10.2,9.4,10.2c4.4,0,7.6-2.2,8.4-6.7L38.3,14.7z M58.7,9.4c-2.3-0.6-4.3-1.3-4.3-2.7c0-0.9,0.7-2.3,2.7-2.3c2,0,3.4,0.7,4.5,2.1l2.8-2.4c-1.8-2.8-5-3.2-6.8-3.2c-4.4,0-7.5,2.6-7.5,6.2c0,3.7,3.3,5.1,6.6,6c2.8,0.8,3.9,1.2,3.9,2.8c0,1.3-1.2,2.2-3.1,2.2c-3.1,0-4.7-2-5.2-2.7l-3,2.6c1.5,2.4,4.2,3.7,7.9,3.7c4.6,0,7.8-2.7,7.8-6.5C64.9,11.4,61.7,10.2,58.7,9.4z"></path>
            </svg>
          </a>
        </h6>
        <address><a title="University of California, Santa Barbara" href="https://www.library.ucsb.edu/"><strong>UC Santa Barbara Library</strong></a>Santa Barbara, California 93106-9010<br>(805) 893-2478</address>
      </section>
      <nav>
        <h6>Connect with UC Santa Barbara Library</h6>
        <ul class="social">
          <li>
            <a href="https://www.linkedin.com/school/ucsantabarbara">
            <svg height="28px" version="1.1" viewBox="0 0 28 28" width="28px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M22.4,22.4 L18.5322613,22.4 L18.5322613,16.7402062 C18.5322613,15.2587629 17.9272519,14.2474227 16.5968485,14.2474227 C15.5792392,14.2474227 15.013329,14.9298969 14.7499236,15.5876289 C14.6511465,15.8237113 14.6665804,16.1525773 14.6665804,16.4814433 L14.6665804,22.4 L10.8348542,22.4 C10.8348542,22.4 10.8842427,12.3742268 10.8348542,11.4628866 L14.6665804,11.4628866 L14.6665804,13.1793814 C14.8929445,12.428866 16.1173683,11.357732 18.0713017,11.357732 C20.4954551,11.357732 22.4,12.9309278 22.4,16.3185567 L22.4,22.4 L22.4,22.4 Z M6.95991298,10.0948454 L6.93521872,10.0948454 C5.70050564,10.0948454 4.9,9.25876289 4.9,8.19896907 C4.9,7.1185567 5.72417098,6.3 6.98357832,6.3 C8.24195673,6.3 9.01571025,7.11649485 9.04040452,8.19587629 C9.04040452,9.2556701 8.24195673,10.0948454 6.95991298,10.0948454 L6.95991298,10.0948454 L6.95991298,10.0948454 Z M5.34140992,11.4628866 L8.7523048,11.4628866 L8.7523048,22.4 L5.34140992,22.4 L5.34140992,11.4628866 L5.34140992,11.4628866 Z"></path></svg>LinkedIn</a></li>
          <li>
            <a href="https://www.facebook.com/UCSantaBarbaraLibrary">
              <svg version="1.1" viewBox="0 0 28 28" width="28px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M14.597317,22.75 L6.21586566,22.75 C5.68227649,22.75 5.25,22.3174553 5.25,21.7840739 L5.25,6.21585816 C5.25,5.68234104 5.68234439,5.25 6.21586566,5.25 L21.7842022,5.25 C22.3175877,5.25 22.75,5.68234104 22.75,6.21585816 L22.75,21.7840739 C22.75,22.3175232 22.3175198,22.75 21.7842022,22.75 L17.3247467,22.75 L17.3247467,15.9730356 L19.5994608,15.9730356 L19.940067,13.3319323 L17.3247467,13.3319323 L17.3247467,11.6457547 C17.3247467,10.8810943 17.5370823,10.3600035 18.6335952,10.3600035 L20.0321448,10.3593924 L20.0321448,7.99716843 C19.7902709,7.96498221 18.9600773,7.89307249 17.9942117,7.89307249 C15.9778041,7.89307249 14.597317,9.12388978 14.597317,11.3841907 L14.597317,13.3319323 L12.3167632,13.3319323 L12.3167632,15.9730356 L14.597317,15.9730356 L14.597317,22.75 L14.597317,22.75 Z"></path>
              </svg>
              Facebook
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/ucsblibrary">
              <svg version="1.1" viewBox="0 0 28 28" width="28px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M14.0000174,5.25 C16.3763573,5.25 16.6743333,5.26007262 17.6076138,5.3026555 C18.5389493,5.34513418 19.175018,5.49306279 19.7315825,5.70938103 C20.3069723,5.93295851 20.7949388,6.23215012 21.2814117,6.7185883 C21.7678499,7.20506122 22.0670415,7.69302766 22.2906537,8.26841752 C22.5069372,8.82498199 22.6548658,9.46105071 22.6973445,10.3923862 C22.7399274,11.3256667 22.75,11.6236427 22.75,14.0000174 C22.75,16.3763573 22.7399274,16.6743333 22.6973445,17.6076138 C22.6548658,18.5389493 22.5069372,19.175018 22.2906537,19.7315825 C22.0670415,20.3069723 21.7678499,20.7949388 21.2814117,21.2814117 C20.7949388,21.7678499 20.3069723,22.0670415 19.7315825,22.2906537 C19.175018,22.5069372 18.5389493,22.6548658 17.6076138,22.6973445 C16.6743333,22.7399274 16.3763573,22.75 14.0000174,22.75 C11.6236427,22.75 11.3256667,22.7399274 10.3923862,22.6973445 C9.46105071,22.6548658 8.82498199,22.5069372 8.26841752,22.2906537 C7.69302766,22.0670415 7.20506122,21.7678499 6.7185883,21.2814117 C6.23215012,20.7949388 5.93295851,20.3069723 5.70938103,19.7315825 C5.49306279,19.175018 5.34513418,18.5389493 5.3026555,17.6076138 C5.26007262,16.6743333 5.25,16.3763573 5.25,14.0000174 C5.25,11.6236427 5.26007262,11.3256667 5.3026555,10.3923862 C5.34513418,9.46105071 5.49306279,8.82498199 5.70938103,8.26841752 C5.93295851,7.69302766 6.23215012,7.20506122 6.7185883,6.7185883 C7.20506122,6.23215012 7.69302766,5.93295851 8.26841752,5.70938103 C8.82498199,5.49306279 9.46105071,5.34513418 10.3923862,5.3026555 C11.3256667,5.26007262 11.6236427,5.25 14.0000174,5.25 Z M14.0000174,6.82657376 C11.6636553,6.82657376 11.3869013,6.83550019 10.4642491,6.8775968 C9.61113278,6.91649796 9.14782689,7.05904293 8.83950046,7.1788724 C8.431073,7.33760303 8.13959215,7.52721146 7.83341917,7.83341917 C7.52721146,8.13959215 7.33760303,8.431073 7.1788724,8.83950046 C7.05904293,9.14782689 6.91649796,9.61113278 6.8775968,10.4642491 C6.83550019,11.3869013 6.82657376,11.6636553 6.82657376,14.0000174 C6.82657376,16.3363447 6.83550019,16.6130987 6.8775968,17.5357509 C6.91649796,18.3888672 7.05904293,18.8521731 7.1788724,19.1604995 C7.33760303,19.568927 7.52724619,19.8604078 7.83341917,20.1665808 C8.13959215,20.4727885 8.431073,20.662397 8.83950046,20.8211276 C9.14782689,20.9409571 9.61113278,21.083502 10.4642491,21.1224032 C11.3867971,21.1644998 11.6634816,21.1734262 14.0000174,21.1734262 C16.3365184,21.1734262 16.6132376,21.1644998 17.5357509,21.1224032 C18.3888672,21.083502 18.8521731,20.9409571 19.1604995,20.8211276 C19.568927,20.662397 19.8604078,20.4727885 20.1665808,20.1665808 C20.4727885,19.8604078 20.662397,19.568927 20.8211276,19.1604995 C20.9409571,18.8521731 21.083502,18.3888672 21.1224032,17.5357509 C21.1644998,16.6130987 21.1734262,16.3363447 21.1734262,14.0000174 C21.1734262,11.6636553 21.1644998,11.3869013 21.1224032,10.4642491 C21.083502,9.61113278 20.9409571,9.14782689 20.8211276,8.83950046 C20.662397,8.431073 20.4727885,8.13959215 20.1665808,7.83341917 C19.8604078,7.52721146 19.568927,7.33760303 19.1604995,7.1788724 C18.8521731,7.05904293 18.3888672,6.91649796 17.5357509,6.8775968 C16.6130987,6.83550019 16.3363447,6.82657376 14.0000174,6.82657376 Z M14.0000174,9.50675957 C16.4815641,9.50675957 18.4932404,11.5184359 18.4932404,14.0000174 C18.4932404,16.4815641 16.4815641,18.4932404 14.0000174,18.4932404 C11.5184359,18.4932404 9.50675957,16.4815641 9.50675957,14.0000174 C9.50675957,11.5184359 11.5184359,9.50675957 14.0000174,9.50675957 Z M14.0000174,16.9166667 C15.610838,16.9166667 16.9166667,15.610838 16.9166667,14.0000174 C16.9166667,12.389162 15.610838,11.0833333 14.0000174,11.0833333 C12.389162,11.0833333 11.0833333,12.389162 11.0833333,14.0000174 C11.0833333,15.610838 12.389162,16.9166667 14.0000174,16.9166667 Z M19.7207805,9.32923829 C19.7207805,9.90914346 19.2506669,10.3792223 18.6707617,10.3792223 C18.0908913,10.3792223 17.6207777,9.90914346 17.6207777,9.32923829 C17.6207777,8.74933312 18.0908913,8.27921954 18.6707617,8.27921954 C19.2506669,8.27921954 19.7207805,8.74933312 19.7207805,9.32923829 Z"></path>
              </svg>
              Instagram
            </a>
          </li>
          <li>
            <a href="https://twitter.com/UCSBLibrary">
              <svg version="1.1" viewBox="0 0 28 28" width="28px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M23.2608696,8.77573131 C22.5899002,9.07692308 21.8674828,9.28060672 21.1096948,9.3716143 C21.8835603,8.9035753 22.4773575,8.16143012 22.7571067,7.27735645 C22.0325455,7.71072589 21.2318841,8.02600217 20.3765589,8.19501625 C19.6948713,7.45937161 18.7205724,7 17.6423054,7 C15.5747338,7 13.8973105,8.69555796 13.8973105,10.7865655 C13.8973105,11.0834236 13.9294655,11.3716143 13.9937757,11.6489707 C10.8800922,11.4907909 8.12011453,9.98483207 6.27119747,7.69122427 C5.94857484,8.2524377 5.76421905,8.9035753 5.76421905,9.59696641 C5.76421905,10.9100758 6.42554185,12.0693391 7.430924,12.7486457 C6.81783382,12.7302275 6.23904239,12.5579632 5.73313581,12.276273 L5.73313581,12.3228602 C5.73313581,14.1581798 7.02469816,15.6890574 8.73963573,16.035753 C8.42558779,16.1245937 8.09439047,16.1690141 7.75247479,16.1690141 C7.5113117,16.1690141 7.27550778,16.1462622 7.04720672,16.1018418 C7.52417373,17.6056338 8.90684214,18.7009751 10.5467512,18.7302275 C9.26483536,19.7464789 7.6485067,20.3521127 5.89391121,20.3521127 C5.59165346,20.3521127 5.29261122,20.3347779 5,20.3001083 C6.65813026,21.3726977 8.62816479,22 10.7428972,22 C17.6348025,22 21.402306,16.2307692 21.402306,11.2264355 C21.402306,11.0617551 21.3990905,10.8970748 21.3926595,10.7356446 C22.1247234,10.2015168 22.7603222,9.53521127 23.2608696,8.77573131"></path>
              </svg>
              Twitter
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div>
      <nav>
        <h6>Helpful Links</h6>
        <ul>
<li><a href="https://www.library.ucsb.edu/about/contact">Contact Us</a></li>
<li><a href="https://www.library.ucsb.edu/policies">Policies</a></li>

        </ul>
      </nav>
    </div>
  </div>
  </div>
</footer>
     <footer id="footer-bottom">
        <div>
        <div>
          <p>
            Copyright © 2023 The Regents of the University of California. All Rights Reserved.
          </p>
          <nav>
            <ul>
              <li><a href="https://www.library.ucsb.edu/terms-use" class="terms">Terms of Use</a></li>
              <li><a href="https://www.library.ucsb.edu/terms-use#accessibility" class="terms">Accessibility</a></li>
<li><a href="https://ucsb.libapps.com/libapps/login.php?site_id=2633">Login to LibApps</a></li>
          <li><a href="mailto:webmaster@library.ucsb.edu">Report a Problem</a></li>
            </ul>
          </nav>
        </div>
    </div>
    </footer>