<style> 
@import url('https://webfonts.brand.ucsb.edu/webfont.min.css');


/*** LibGuides homepage chat button width ***/
#libchat_63e4541db07fd62b3449721a5164549e {
    margin-bottom: 14px;
}
#libchat_63e4541db07fd62b3449721a5164549e>.libchat_online, #libchat_63e4541db07fd62b3449721a5164549e>.libchat_offline {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}
#libchat_63e4541db07fd62b3449721a5164549e button.libchat_online, #libchat_63e4541db07fd62b3449721a5164549e button.libchat_offline{ 
    background-color: #09847A !important; 

}
#libchat_63e4541db07fd62b3449721a5164549e button.libchat_online:hover { 
    background-color: #175890 !important; 

}
/*** CUSTOM BUTTON OVERRIDE ***/
a.btn.btn-info, a.btn.btn-info:visited {
    color: white;
}

.s-lib-profile-container .s-lib-profile-div a.label-info,
.s-lib-profile-container .s-lib-profile-div button {
   background-color: #09847A !important;
   border: 1px solid #098474 !important;
   width: 100%;
   display: block;
   font-size: 14px !important;
   padding: 4px 12px; 

}
.s-lib-profile-container .s-lib-profile-div a.label-info:hover,
.s-lib-profile-container .s-lib-profile-div button:hover{
     opacity: 1 !important;
     background-color: #175890 !important;
}


/*** OVERRIDES ***/
.s-lib-box-content {
    color: #333;
    border-color: #ddd
}

h3.s-lg-db-panel-title,  #s-lg-az-index .btn-group>.btn-link  {
    color: #033660;
}

.s-ui-helptip .btn-link {
    color: #09847A
}


li.nav-item {
    list-style: none;
    line-height: 5em;
}

 .s-lib-public-body, body{
     padding: 0px;
     font-family: Avenir, "Century Gothic", sans-serif;
}
#s-lib-footer-public{
     display:none;
}
a.btn.btn-info.s-lg-hp-btn-section {
    margin-top: 10px;
}
a, h1, h2 {
 color: #003660;
}
.btn-info{
background-color:#09847A;
border-color:#09847A;
}
.nav-pills>li.active>button,.nav-pills>li.active>button:focus,.nav-pills>li.active>button:hover {
    background-color: #003360;
    color: #fff
}
.nav {
    display: block;
}

#s-lg-tabs-container .nav-pills > li > a, ul.nav.nav-pills.nav-stacked.split-button-nav {
    font-size: 13px;
    line-height: 1.75em;
    font-weight: 300;

}
h2.s-lib-box-title {
    font-size: 16px !important;

}
/*@media screen and (max-width: 767px) {
    * {
        padding-left: 5px;
        padding-right: 5px;
    }
  }
  */
  
a.btn.btn-info.s-lg-hp-btn-section {
    border-radius: 0;
}
.label, .s-lib-profile-widget button {
    border-radius: 0 !important;
}
.s-lib-side-borders {
    padding-left: 15px; 
}

.alert-info {
    color: #055160;
    background-color: #d9edf7;
    border-color: #b6effb
}
#s-lg-content-57059289 div {
    background-color: #FEBC11 !important;
}

/*** CUSTOM ***/
 .eyebrow {
     background-color: #033660;
     color: #fff;
     position: relative;
     width: 100%;
     font-family: Avenir, "Century Gothic", sans-serif;
     font-weight: 100;
     font-size: 12px;
     letter-spacing: 0.7pt;
     /***padding-left:40px;***/
     -webkit-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
}
 .eyebrow a.edu-link{
     display:none;
}
 .eyebrow-menu{
     display: flex;
     justify-content: flex-end;
     align-items:center;
     height:100px;
}

 .navbar-toggle span {
     height: 3px;
     width: 25px;
     background-color: #fff;
     margin: 5px 0;
     display: block;
}
 .close-icon {
     display:none;
     flex-direction: column;
     cursor: pointer;
     color: #fff;
     font-size: 28px;
}
 .navbar-nav{
     display:none;
}
 ul.navbar-nav.show {
     display: block;
     position: absolute;
     left: 0px;
     top: 92px;
     background: #edeff1;
     z-index: 9998;
     width: 100%;
     color: #003360;
     padding-left: 50px;
}
 .navbar-nav a {
     color: #003360;
}
 svg#Template {
     fill: #fff;
     height: 60px;
     background-color: transparent;
}
 .woodmark {
     background-color: transparent;
     position: fixed;
     top: 0;
     z-index: 9999;
}
footer a {
    text-decoration: none;
}
 @media (min-width: 768px) {
     .s-lib-public-body, body{
         margin-top: 0px;
    }
     .eyebrow{
         height:36px;
         -webkit-transition: all 0.2s ease-in-out;
         transition: all 0.2s ease-in-out;
    }
     .eyebrow-menu {
         display:flex;
         flex-direction: row;
         height:inherit;
         -webkit-transition: all 0.2s ease-in-out;
         transition: all 0.2s ease-in-out;
    }
     .navbar-toggle {
         display: none;
         flex-direction: column;
         cursor: pointer;
    }
     .close-icon {
         display: none;
    }
     .eyebrow a.edu-link {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         color: #fff;
         font-size:12px;
         letter-spacing: .5pt;
         margin-right:auto;
    }
     .navbar-nav {
         display: flex;
         flex-direction: row;
         justify-content:flex-end;
         align-items: center;
         margin-right: 5px;
         margin-left:auto;
    }
     .navbar-nav a {
         color: #fff;
    }
    .navbar-nav li:not(:last-child) a.nav-link:after, #footer-bottom > div > div > nav > ul > li:not(:last-child) a:after {
        background-color: rgba(255,255,255,.13);
        content: " ";
        display: inline-block;
        height: 20px;
        /* position: relative; */
        /* left: auto; */
        right: 0;
        top: 5px;
        width: 1px;
        margin: -5px 20px;

    }

     .woodmark{
         position: relative;
         background-color: #edeff1;
         width: 100%;
         padding-top: 10px;
         height: auto;
         min-height: 160px;
         margin-bottom:50px;
    }
     .woodmark svg#Template {
         fill: #003360;
         height: 60px;
         margin: 36px 0 25px 0;
    }
}



/*** FOOTER Styles***/
#footer, #footer-bottom {
    margin: auto 0 0;
    padding: 0 15px;
    color: #FFFFFF;
    background: #003660;
    font-family: Avenir, "Century Gothic", sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.75;
}
#footer > div > div {
    display: flex;
    flex-direction: column-reverse;    
    padding: 2.25rem 0;
    grid: auto-flow/repeat(auto-fit, minmax(15.625rem, 1fr));
    gap: 0 1.875rem;
}

#footer > div h6 {
    margin: 1.45rem 0 1rem;
    border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
    padding-bottom: .375rem;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: calc(1em / 12);

}
#footer svg {
    display: block;
    margin: auto;
    height: 1.875rem;
    width: auto;
    color: #fff;
    fill: #ffffff;
    stroke: transparent;
}
#footer > div nav {
    display: grid;
    grid: auto auto / auto-flow;
}
#footer > div nav ul {
    display: grid;
    grid-row: 2 / span 1;
    padding: 0;
}
#footer > div nav ul.social {
    grid: auto-flow/repeat(auto-fit, minmax(7.625rem, 1fr));
    gap: 0 .375em;
}
#footer > div nav ul > li {
    display: block;
}
#footer > div nav ul.social > li > a, #footer a {
    display: grid;
    grid: auto-flow / max-content auto;
    gap: 0 .375em;
    color: #fff;
}
address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}
/***COPYRIGHT****/
#footer-bottom {
    background-color: #002b4c;
    color: #fff;
    font-size: 12px;
    margin: 0;
    padding: 16px 0 48px 0;
    width: 100%;
}

#footer-bottom > div > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: .375rem 1rem;
}
#footer-bottom div div {
    display: inline-block;
    margin-right: 16px;
    color:  #fff !important;
}
#footer-bottom > div > div {
    display: flex;
    flex: auto;
    flex-flow: row wrap;
    width: -moz-max-content;
    width: auto;
    max-width: 100%;
    gap: .375rem 1rem;
   justify-content: space-around;

}
#footer-bottom > div > div > nav {
    display: flex;
    flex-flow: row wrap;
    gap: 0 1rem;
}
#footer-bottom > div > div > nav > ul {
    display: contents;
    list-style: none;
}
#footer-bottom > div > nav > nav > ul > li {
    display: block;
}
#footer-bottom a[href] {
    color: inherit;
}
 @media (min-width: 768px) {
     #footer > div > div {
       display: grid;
       flex-direction: unset;
     }
}
 </style> 